<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>JavaBeansDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>PersonalInfoServlet</display-name>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <servlet-class>com.as.app.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <url-pattern>/personalinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactInfoServlet</display-name>
    <servlet-name>ContactInfoServlet</servlet-name>
    <servlet-class>com.as.app.ContactInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactInfoServlet</servlet-name>
    <url-pattern>/contactInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankInfoServlet</display-name>
    <servlet-name>BankInfoServlet</servlet-name>
    <servlet-class>com.as.app.BankInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankInfoServlet</servlet-name>
    <url-pattern>/bankinfo</url-pattern>
  </servlet-mapping>
</web-app>